body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 95%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid black;
  width: 71%;
  float: left;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  width: 10%;
  margin-left: 44px;
  float: left;
  
}

.status {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  text-align: center;
  padding-top: 29px;
  border-radius: 15px;
  float: left;
  width: 8%;
  height: 80px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.status i:hover {
  transition: all .3s ease-in-out;
}

.clear { 
  content: "";
  display: block;
  clear: both;
}

/* Breakpoint for Surface Duo  */
@media screen and (max-width: 767.5px) {

  .display-3 {
    font-size: 3rem;
  }
  .hour {
    margin-left: 30px;
    width: 80px;
  }

  .row {
    width: 300px;
  }

  .status {
    width: 40px;
  }
}

/* Breakpoint for iPhones 6/7/8, 6/7/8 Plus, X  */
@media screen and (max-width: 450px) {
  .hour {
    width: 50px;
    font-size: 12px;
  }

  .row {
    width: 260px;
  }

  .status {
    width: 30px;
  }
}

/* Breakpoint for Moto G4, Galaxy G5, iPhone 5 */
@media screen and (max-width: 360px) {

  .hour {
    margin-left: 30px;
    width: 45px;
    font-size: 8px;
  }

  .row {
    width: 200px;
  }

  .status {
    font-size: 0.5rem;
    width: 30px;
  }
}

/* Breakpoint for Galaxy Fold */
@media screen and (max-width: 281px) {
  .hour {
    margin-left: 0px;
  }
}